<ion-content>
  <ion-card *ngIf="city" class="city-card">
    <ion-card-header>
      <ion-card-title>{{ city.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="city.imageUrl" alt="{{ city.name }}" class="city-image"></ion-img>
      <ion-item lines="none">
        <ion-text class="city-description">{{ city.description }}</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text class="city-rating">Prosečna ocena: {{ averageRating | number:'1.1-1' }}</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text class="city-rating">Vaša ocena: {{ review.Ocena }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button class="city-btn" (click)="goBackToCities()">Nazad na gradove</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button class="favorite-btn" (click)="goToFavorites()">Idi na Moja Putovanja</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button *ngIf="isFavorite" (click)="deleteReview()">Obriši recenziju</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="isFavorite" class="review-card">
    <ion-card-header>
      <ion-card-title class="naslov-forme">Ostavi recenziju za svoje putovanje</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="submitReview()">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-label>Ocena:</ion-label>
              <ion-select [(ngModel)]="review.Ocena" name="rating">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-label>Trajanje putovanja (u danima):</ion-label>
              <ion-input type="number" [(ngModel)]="review.Broj_Dana" name="duration" min="1" placeholder="Unesite broj dana..."></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-label>Broj ljudi na putovanju:</ion-label>
              <ion-input type="number" [(ngModel)]="review.Broj_Ljudi" name="peopleCount" min="1" placeholder="Unesite broj ljudi..."></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-label>Tip smeštaja:</ion-label>
              <ion-select [(ngModel)]="review.Tip_Smestaja" name="accommodationType">
                <ion-select-option value="Hotel">Hotel</ion-select-option>
                <ion-select-option value="Motel">Motel</ion-select-option>
                <ion-select-option value="Apartman">Apartman</ion-select-option>
                <ion-select-option value="Hostel">Hostel</ion-select-option>
                <ion-select-option value="Kampovanje">Kampovanje</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-label>Iskustvo:</ion-label>
              <ion-textarea [(ngModel)]="review.Iskustvo" name="experience" placeholder="Podelite vaše iskustvo..."></ion-textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="form-item">
              <ion-button expand="block" type="submit">Pošalji recenziju</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
